body {
    background-color: hsl(0, 0%, 98%);
    p {
        color: hsl(229, 6%, 66%);
        font-weight: 200;
        font-size: 1.3rem;
    }
}

.main-section {
    margin-top: 3%;
    width: 78%;
    .description-container {

        h2 {
            font-size: 3rem;
            font-weight: 200;
            strong {
                font-weight: 600;
            font-size: 3rem;

            }
        }
        p {
            text-align: center;
            width: 60%;
            margin-top: 1.5rem;
        }
    }

    .card-container {
        display: grid;
        grid-auto-flow: column;
        column-gap: 5%;
        margin-top: 4rem;
        width: 100%;

        .cards {
            background-color: white;
            padding: 2rem 3.5rem;
            border-radius: 1rem;
            position: relative;
            width: 35rem;
            height: 20rem;
            box-shadow: 0px 5px 10px hsl(229, 6%, 66%);

            img {
                position: absolute;
                right: 10%;
                bottom: 10%; 
                width: 5rem;   
            }
        }
        
        .supervisor {
            border-top: 3px solid hsl(180, 62%, 55%);
        }

        .double-card {
            justify-content: space-between !important;

            .team-builder {
                border-top: 3px solid hsl(0, 78%, 62%);
                margin-bottom: 3.5rem;
            }

            .karma {
                border-top: 3px solid hsl(34, 97%, 64%);
            }
        }

        .calculator {
            border-top: 3px solid hsl(212, 86%, 64%);
        }
    }
}

@media all and (max-width:376px) {
    .main-section {
        width: 95%;
        padding: 3rem 0rem;
        .description-container {
            h2 {
                font-size: 2rem;
                strong {
                    font-size: 2rem;
                }
            }
        }

        .card-container {

            .cards {
                width: 31rem;
            }

            .supervisor {
                margin-bottom: 3.5rem;
            }

            .double-card {
                margin-bottom: 3.5rem;
            }
        }
    }
}